<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Muzycy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


</head>
<body class="image">
<div class="container">
    <h1 th:text="${recording.name}" class="title" style="color: chartreuse"></h1>
    <a href="/">Powrót do strony głównej</a>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Rok powstania</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recording : ${recording}">
            <td th:text="${recording.name}">Otto</td>
            <td th:text="${recording.yearOfCreation}">Otto</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>