.image {
    background-image: url("https://medicaldialogues.in/h-upload/2022/10/27/189071-fire-new.webp");
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.title {
    font-family: cursive;
    text-align: center;
}

.container {
    text-align: center;
    margin-left: 700px;
    padding-left: 350px;
}